body{
    font-family: 'Julee', cursive;
      background: forestgreen;
}
.header_div{
    background: rebeccapurple;
    color: khaki;
}
.header_div p{
    font-family: 'Roboto', sans-serif;
    color: gold;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
}
.main_div button{
    font-family: 'Roboto', sans-serif;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
}
.hello{
    position: fixed;
    color: greenyellow;
    bottom: 0;
    width: 100%;
    font-size: 18px;
    background-color: indianred;
    line-height: 3;
    text-align: center;
    text-shadow:5px 5px 5px darkolivegreen ;
}